<div style="display: flex; flex-direction: row">
  <span style="margin-right: 4px">${msg("{{label}}")}</span>

  <md-slider {{#if variable_to_read}}.value=${ {{variable_to_read}} }{{/if}} @change=${(e: CustomEvent) => { {{variable_to_change}} = (e as any).target.value; } }></md-slider>
</div>
