{{#if edit}}
<div style="display: flex; flex-direction: row;">
<agent-avatar .agentPubKey=${ {{variable_to_read}} }></agent-avatar>
{{/if}}
<search-agent .fieldLabel=${msg("{{label}}")} @agent-selected=${(e: CustomEvent) => { {{variable_to_change}} = e.detail.agentPubKey; } }></search-agent>
{{#if edit}}
</div>
{{/if}}
