<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="Description" content="Put your description here." />
    <base href="/" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Global theme for your application -->
    <!-- Go here: https://m3.material.io/theme-builder#/dynamic to define your own custom theme -->
    
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: #ededed;
        height: 100%;
        width: 100%;
      }
      
      body {
        display: flex;
      }
            
      :root {
        --md-sys-color-primary: #006A6A;
        --md-sys-color-primary-container: #6FF7F6;
        --md-sys-color-on-primary: #FFFFFF;
        --md-sys-color-on-primary-container: #002020;
        --md-sys-color-secondary: #4A6363;
        --md-sys-color-secondary-container: #CCE8E7;
        --md-sys-color-on-secondary: #FFFFFF;
        --md-sys-color-on-secondary-container: #051F1F;
        --md-sys-color-tertiary: #4B607C;
        --md-sys-color-tertiary-container: #D3E4FF;
        --md-sys-color-on-tertiary: #FFFFFF;
        --md-sys-color-on-tertiary-container: #041C35;
        --md-sys-color-error: #BA1A1A;
        --md-sys-color-error-container: #FFDAD6;
        --md-sys-color-on-error: #FFFFFF;
        --md-sys-color-on-error-container: #410002;
        --md-sys-color-outline: #6F7979;
        --md-sys-color-background: #FAFDFC;
        --md-sys-color-on-background: #191C1C;
        --md-sys-color-surface: #FAFDFC;
        --md-sys-color-on-surface: #191C1C;
        --md-sys-color-surface-variant: #DAE5E4;
        --md-sys-color-on-surface-variant: #3F4948;
        --md-sys-color-inverse-surface: #2D3131;
        --md-sys-color-inverse-on-surface: #EFF1F0;
        --md-sys-color-inverse-primary: #4CDADA;
        --md-sys-color-shadow: #000000;
        --md-sys-color-surface-tint: #006A6A;
        --md-sys-color-outline-variant: #BEC9C8;
        --md-sys-color-scrim: #000000;
      }
      
      :root {
        --mdc-theme-primary: var(--md-sys-color-primary);
        --mdc-theme-secondary: var(--md-sys-color-secondary);
      }
    </style>
    <title>{{title_case app_name}}</title>
  </head>

  <body>
    <holochain-app></holochain-app>

    <script type="module">
      import { HolochainApp } from "./src/holochain-app.ts";
      
      customElements.define('holochain-app', HolochainApp);
    </script>
  </body>
</html>
